{
  "server": {
    "ice_servers": ["stun:stun.l.google.com:19302"]
  },
  "streams": {
    "some video": {
      "on_demand": false,
      "disable_audio": true,
      "url": "rtsp://..."
    }
  }
}
