{
  "streams": {
    "new video 1": {
      "onDemand": false,
      "disableAudio": false,
      "url": "rtsp://..."
    },
    "new video 2": {
      "onDemand": false,
      "disableAudio": false,
      "url": "rtsp://..."
    },
    "new video 3": {
      "onDemand": false,
      "disableAudio": false,
      "url": "rtsp://..."
    }
  }
}
